.container {
    display: grid;
}

.small-square {
    width: 200px;
    height: 200px;
    background-color: blue;
}

.medium-square {
    width: 400px;
    height: 400px;
    background-color: green;
}

.large-square {
    width: 600px;
    height: 600px;
    background-color: yellow;
}
